/*	Fonts 	*/
@font-face {
	font-family: 'montserratBold';
	src: url('../fonts/Montserrat-bold.ttf');
}

@font-face {
	font-family: 'montserratRegular';
	src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'montserratLight';
	src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
	font-family: 'montserratItalic';
	src: url('../fonts/Montserrat-Italic.ttf');
}
/*	End fonts */

/*	 Style by default	*/
body{
	margin: 0px;
	padding: 0px;
	color: #484040;
}

h1, h2, h3, h4, h5, h6{
	font-family: "montserratBold";
	margin:0px;
}

p{
	font-family: "montserratLight";
	font-size: .9em;
	line-height: 1.6em;
}

a{
	font-family: "montserratItalic";
	font-size: 12px;
	color: #424242;
	text-decoration: none;
	border-bottom: 1px dotted #424242;
}

label{
	font-family: "montserratRegular";
	display: inherit;
	margin-bottom: 7px;
}

section{
	background: #E1F5FE;
    position: relative;
    z-index: 0;
}

.clearfix{
	clear: both;
}

.jscolor{
	height: 30px;
	border: 1px solid #BDBDBD;
	outline: none;
	cursor: pointer;
	padding-left:5px;
}

.hide{
	position: absolute;
	z-index: -1;
	overflow: hidden;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

/*	End Style by default */

/*	Custom elements	*/
.btn{
	border: none;
	outline: none;
	height: 30px;
	cursor: pointer;
	color: #FFFFFF;
	font-family: "montserratRegular";
	-webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}

.red{
	background-color: #B71C1C;
}

.green{
	background-color: #2E7D32;
}

.yellow{
	background-color: #FFEA00;
	color: #424242;
}

.blue{
	background-color: #0091EA;
}


.btn-large{
	width: 100%;
}

.btn-medium{

}

.btn-small{

}

.btn:hover{
	opacity: 0.8;
}

.msg-box{

}

.succes{
	border: 2px solid #43A047;
}

.warning{
	border: 2px solid #FFEA00;
}

.danger{
	border: 2px solid #F44336;
}

.bloc-harmony{
	width: 100%;
	box-shadow: 1px 1px 1px 1px #888888;
	background-color: #FFFFFF;
}

.container{
	height: auto;
	margin: 0px auto;
	padding:10px 40px 10px 40px;
}

.bg-absolute{
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 300px;
	background-color: #009688;
}

.hr-bloc-customize-color, .hr-bloc-customize-text{
	width: 90%;
	margin: 10px auto;
}

.hover-current-bloc{
	border-left: 2px solid #0091EA;
		-webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms
}

.bloc-harmony-inside{
	display: inline-block;
	width: 300px;
	margin:10px auto;
}

.bloc-harmony-inside label{
	width: 100%;
}

/*	Step : import skinpack	*/
#pg-home h2{
	color: #FFFFFF;
	font-size: 50px;
	text-align: center;
}

.bloc-import{
	width: 40%;
	margin: 20px auto;
	text-align: center;	
	/*padding:20px 50px 20px 50px;*/
	/*box-shadow: 1px 1px 1px 1px #888888;*/
}

.skin-lbl-import{
	padding-top: 10px;
}

.bloc-import .invalide-skin-msg{
	display: block;
	height: 30px;
	font-family: "montserratBold";
	font-size: 12px;
	color: #F44336;
}

.bloc-import .valide-skin-msg {
    display: block;
    font-family: "montserratBold";
    font-size: 12px;
    /*color: #2E7D32;*/
}

.hr-sub-elem{
	padding: 10px;
	width: 65%;
}

#pg-colors h2{
	font-size: 32px;
}

.hr-subsub-elem{
	width: 90%;
	margin: 25px auto;
	border-left: 3px solid;
    padding-left: 20px;
}

.hr-bloc-visuation{
	height: 300px;
	width: 30%;
	position: fixed;
	top:180px;
	right: 100px;
}

.visualisation-inside{
	border:3px solid #757575;
	height: 100%;
	background-color: #EEEEEE;
}

.previs-screen-header{
	width: 100%;
	height: 40px;
	background-color: #616161;
	position: relative;
	z-index: 550;
}

.previs-screen-header .previs-header-menu{
	height: 40px;
	width: auto;
	margin-left: 10px;
}

.previs-screen-header .previs-header-menu .previs-btn-menu{
	display: inline-block;
	margin-top: 5px;
	margin-left: 2px;
	width: 35px;
	height: 35px;
	background-color: #90A4AE;

}

.previs-screen-leftMenu{
	width: 40px;
	height: 86%;
	background-color: #616161;
	border-top: 2px solid #FFFFFF;
	position: absolute;
	top:44px;
	z-index: 50;
}

.hr-bloc-generate{
	margin-top:10px;
}

.previs-inside-cours{
	width: 100%;
	padding:20px 0px 0px 65px;
	box-sizing:border-box;
}

#visTitle,
#visParag{
	
}

#chosenFontFamily{
	display: inline-block;
}

#chosenFontFamily{
	margin-left: 50px;
	/*font-family: "montserratBold";*/
}

#select-text-typo{
	width: 150px;
	height: 30px;
}


/*	Dialog : valider le modifs */
.validate-bloc{
	width: 100%; 
	height: 100%; 
	position: fixed; 
	top:0px; 
	background:rgba(0,0,0,0.6); 
	padding-top: 200px;
}

.validate-dialog{
	margin:0 auto; 
	height: 230px; 
	width: 500px; 
	background-color: white; 
	padding:20px;
}

.submitArea{
	width: 100%;
	margin-top: 5px;
	text-align: center;
}

.skinpackInfos{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
}