/*	Fonts 	*/
@font-face {
	font-family: 'montserratBold';
	src: url('../fonts/Montserrat-bold.ttf');
}

@font-face {
	font-family: 'montserratRegular';
	src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'montserratLight';
	src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
	font-family: 'montserratItalic';
	src: url('../fonts/Montserrat-Italic.ttf');
}
/*	End fonts */

/*	 Style by default	*/
body{
	margin: 0px;
	padding: 0px;
	color: #484040;
}

h1, h2, h3, h4, h5, h6{
	font-family: "montserratBold";
	margin:0px;
}

p{
	font-family: "montserratLight";
	font-size: .9em;
	line-height: 1.6em;
}

a{
	font-family: "montserratItalic";
	font-size: 12px;
	color: #424242;
	text-decoration: none;
	border-bottom: 1px dotted #424242;
}

label{
	font-family: "montserratRegular";
	display: inherit;
	margin-bottom: 7px;
}

section{
	background: #E1F5FE;
    position: relative;
    z-index: 0;
}

.jscolor{
	height: 30px;
	border: 1px solid #BDBDBD;
	outline: none;
	cursor: pointer;
	padding-left:5px;
}

.hide{
	position: absolute;
	z-index: -1;
	overflow: hidden;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

/*	End Style by default */

/*	Custom elements	*/
.btn{
	border: none;
	outline: none;
	height: 30px;
	cursor: pointer;
	color: #FFFFFF;
	font-family: "montserratRegular";
	-webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}

.red{
	background-color: #B71C1C;
}

.green{
	background-color: #2E7D32;
}

.yellow{
	background-color: #FFEA00;
	color: #424242;
}

.blue{
	background-color: #0091EA;
}


.btn-large{

}

.btn-medium{

}

.btn-small{

}

.btn:hover{
	opacity: 0.8;
}

.msg-box{

}

.succes{
	border: 2px solid #43A047;
}

.warning{
	border: 2px solid #FFEA00;
}

.danger{
	border: 2px solid #F44336;
}

.bloc-harmony{
	width: 100%;
	box-shadow: 1px 1px 1px 1px #888888;
	background-color: #FFFFFF;
}

.container{
	height: auto;
	margin: 0px auto;
	padding:10px 40px 10px 40px;
}

.bg-absolute{
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 300px;
	background-color: #81D4FA;
}

.hr-bloc-customize-color, .hr-bloc-customize-text{
	width: 90%;
	margin: 10px auto;
}

.hover-current-bloc{
	border-left: 2px solid #0091EA;
		-webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms
}

.bloc-harmony-inside{
	display: inline-block;
	margin:10px auto;
}

.bloc-harmony-inside label{
	width: 100%;
}

/*	Step : import skinpack	*/
#pg-home h2{
	font-size: 50px;
	text-align: center;
}

.bloc-import{
	width: 40%;
	margin: 20px auto;
	text-align: center;	
	/*padding:20px 50px 20px 50px;*/
	/*box-shadow: 1px 1px 1px 1px #888888;*/
}

.skin-lbl-import{
	padding-top: 10px;
}

.bloc-import .invalide-skin-msg{
	display: block;
	height: 30px;
	font-family: "montserratBold";
	font-size: 12px;
	color: #F44336;
}

.bloc-import .valide-skin-msg {
    display: block;
    font-family: "montserratBold";
    font-size: 12px;
    color: #2E7D32;
}

.hr-sub-elem{
	padding: 10px;
}

#pg-colors h2{
	font-size: 32px;
}

.hr-subsub-elem{
	width: 90%;
	margin: 25px auto;
	border-left: 3px solid;
    padding-left: 20px;
}

#chosenFontFamily{
	display: inline-block;
}

#chosenFontFamily{
	margin-left: 50px;
	/*font-family: "montserratBold";*/
}

#select-text-typo{
	width: 150px;
	height: 30px;
}